* {
    font-family: "Lato", sans-serif;
  }
  .slideOneBg {
    background-image: url("../images/banner1.png");
    background-position: center;
  }
  .slideTwoBg {
    background-image: url("../images/banner2.png");
    background-position: center;
  }
  .slideThreeBg {
    background-image: url("../images/banner3.png");
    background-position: center;
  }
  .slideFourBg {
    background-image: url("../images/banner4.png");
    background-position: center;
  }
  .team{
    background-image: url("../images/team.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }